@import '../../globalStyles/tools';

.cover {
    @include paddingX();
    padding-top: var(--topbar-height);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}