@import '../../globalStyles/tools';

.topbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    @include paddingX();
    height: var(--topbar-height);
    position: fixed;
    z-index: 3;

    &__logo {
        text-decoration: none;
        &:hover {
            color: inherit;
        }
    }

    &.active {
        background-color: #f8f9fad4;
        transition: 0.3s ease-in-out;
    }

    &.topbar--scroll {
        background-color: #f8f9fad4;
    }

}

.nav {
    list-style-type: none;
    font-size: var(--font-size-mobile);
    font-family: var(--typo-accent);
    text-align: right;
    position: relative;

    @include MQ ($tablet) {
        font-size: var(--font-size-desktop);
    }

    &__item a {
        text-decoration: none;
    }

    &__wrap {
        @include MQ ($tablet) {
            display: flex;
            align-items: center;
            gap: var(--gap-XL);
        }
    }

    &--desktop {
        display: none;

        @include MQ ($tablet) {
            display: flex;
            align-items: center;
            gap: var(--gap-XL);
        }
    }

    &__burger {
        opacity: 0%;
        transition: 0.3s ease-in;
        position: absolute;
        right: 0rem;
        top: var(--topbar-height);
        display: flex;
        flex-direction: column;
        gap: var(--gap-M);
        @include paddingX();
        width: 100%;
        height: 100vh;
        background-color: #f8f9fad4;
        pointer-events: none;
    }

}

.copywright {
    position: absolute;
    opacity: 0;
}

.active {
    .nav__burger {
        z-index: 3;
        opacity: 100%;
        pointer-events: all;
    }

    .copywright {
        opacity: 100%;
        top: 40rem;
        left: -12rem;
        rotate: 270deg;
        transition: none;
    
        @include MQ ($tablet) {
            top: 50rem;
            left: -8rem;
        }
    
        @include MQ ($desktop) {
            left: 0;    }
    }
}

.burger {
    cursor: pointer;
}


