@import "/src/globalStyles/tools";

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap-L);
    padding-left: 50vh;
    padding-right: var(--gap-XL);
    padding-bottom: var(--gap-XL);
    overflow: scroll;

    @include MQ ($tablet) {
        padding-left: 0;
        padding-right: 0;
    }
}