@import '../../../globalStyles/tools';

button, .btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--unit-8) var(--unit-16);
    gap: var(--gap-S);
    border: 2px solid var(--color-greyscale9);
    color: var(--color-greyscale9);
    font-family: var(--typo-accent);
    font-size: var(--font-size-mobile);
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-weight: bold;
    text-decoration: none!important;

    @include MQ ($tablet) {
        font-size: var(--font-size-desktop);
    }

    &:hover {
        background-color: var(--color-greyscale9);
        color: var(--color-white);
    }

    &:active {
        background-color: var(--color-greyscale8);
        color: var(--color-white);
    }

    &:focus {
        outline: none;
        border-color: var(--color-blue);
    }

}

.btn--accent {
    background-color: var(--bg-color-blue);
    color: var(--color-greyscale10);
    border: none;
    border-radius: 100%;
    aspect-ratio: 1/1;

    &:hover {
        background-color: var(--bg-color-rose);
    }
}